* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #235347;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem; 
  display: flex;
  flex-direction: column;
}

.search-container {
  padding: 1rem;
}

.search-input {
  display: flex;
  gap: 1rem;
  align-items: center
}

.search-input-text {
  flex: 1 1 0;
  min-width: 0;
  padding: 0.5rem; 
  background-color: #0b2b26;
  border: none;
  font-size: 1rem;
  color: white;
  transform-origin: left top;
  zoom: 1
}

.search-input-button {
  padding: 0.5rem 1rem;
  background-color: #8eb69e;
  color: white;
  border: none;
  cursor: pointer
}

.map-container {
  width: 100%;
  height: 400px;
  border: 1px solid #8eb69e;
}

.results-container, .instructions-container {
  padding: 1rem;
  text-align: center;
  color: #daf1de;
}

.clear-button {
  padding: 0.5rem 1rem;
  margin: 1rem;
  background-color: #8eb69e;
  color: white;
  border: none;
  cursor: pointer
}

.footer {
  padding: 2rem;
  font-size: 0.8rem;
  text-align: center;
  color: #daf1de;
}
.footer a {
  text-decoration: underline;
  color: #daf1de;
}

.error-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: #daf1de;
}